// Mixins
@mixin flex($direct:'row', $jc:'start', $ai:'start') {
    display: flex;
    flex-direction: #{$direct};
    justify-content: #{$jc};
    align-items: #{$ai};
}
@mixin adaptProp($property: '', $contMaxWidth: 1920, $startSize: 0, $endSize: 0) {
    #{$property}: calc(#{$endSize}px + (#{$startSize} - #{$endSize}) * ((100vw - 320px) / (#{$contMaxWidth} - 320)));
}