@import "settings";

html, body
{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}
body
{
    background: url('../img/gplay-1920x1080.webp') repeat;
}
.wrapper
{
    width: 100%;
    max-width: 1340px;
    min-height: 100%;
    margin: 0 auto;
    @include flex('column');
    background-color: #fff;
}
.go-to-top-link
{
    position: fixed;
    right: 50px;
    bottom: 40px;
}
// Global classes & styles
.button
{
    @include flex($jc:'center', $ai:'center');
    cursor: pointer;
}
.button-span
{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    flex: 0 0 auto;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Raleway', sans-serif;
}
// Data attributes for comfortable management through JS
[data-visible="false"]
{
    display: none;
}
[data-visible="true"]
{
    display: block;
}
[data-visible="flex"]
{
    display: flex;
}
